@model string
@* View Component: SearchBar - YÊU CẦU ĐỒ ÁN *@
<form asp-controller="Movie" asp-action="Search" method="get" class="search-form-wrapper" role="search">
    <div class="search-input-group">
        <i class="fas fa-search search-icon"></i>
        <input class="form-control search-input" 
               type="search" 
               name="keyword" 
               placeholder="Search..." 
               value="@Model" 
               aria-label="Tìm kiếm phim" />
    </div>
</form>
