@{
    ViewData["Title"] = "Phim yêu thích";
}

<div class="container mt-4">
    <component type="typeof(WebMovie.Components.FavoriteMoviesComponent)" render-mode="ServerPrerendered" />
</div>

@section Scripts {
    <script src="_framework/blazor.server.js"></script>
}